# Source-Files
src/
tsconfig.json

# Tests & Tooling
*.test.ts
spec/
.github/
.vscode/
.eslintrc.json
.prettierrc
jest.config.js

# Docs & Assets
examples/
build/

# Logs & Cache
*.log
.DS_Store
node_modules/